.container {
  margin: auto;
  max-width: 1152px;
}

.heroSection {
  background-color: var(--background-gradient);
  border-radius: 12px;
  padding: 32px 0;
}
nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 64px;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
