*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --background-gradient: linear-gradient(to bottom right rgb(255, 255, 255));
}
body {
  margin: 0;
  padding: 16px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-ozx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: black;
}
